---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy","client_secret":"ZeAbRfZQl8dIohaVuPiFPLbc9a0P1wdFRuOuk6ON","grant_type":"client_credentials"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9138ee964cc7612eb265cacfb43e051c"
    body:
      encoding: UTF-8
      string: '{"access_token":"XOf40HYpiUpEyvj4nP3iYnYidq5yuCX9Gk9vXpid","token_type":"bearer"}'
  recorded_at: Thu, 06 Dec 2018 22:53:12 GMT
recorded_with: VCR 4.0.0
